.container
	background-color red
	text-decoration none
	height 46px
	min-width 100px
	border-radius 23px
	display flex
	align-items center
	justify-content center
	text-transform uppercase
	transition background-color .2s ease

.default
	background-color rgba(128, 128, 128, .55)
	border 2px solid rgba(157, 157, 157, 1)
	color #fff

	&:hover
		background-color rgba(128, 128, 128, .70)

.blue
	background-color rgba(37, 117, 220, .55)
	border 2px solid rgba(37, 117, 220, 1)
	color #fff

	&:hover
		background-color rgba(37, 117, 220, .70)
