@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500&subset=cyrillic')
@import './mixins/reset'
@import './mixins/root'

reset()

:global(#root)
	root()

html, body
	height 100%

body
	font-family 'Roboto', sans-serif
	font-size 14px
	font-weight 400
	line-height 1.5
