@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'

.container
	cell(1, 1)
	display flex
	flex-direction column

.labels
	display flex
	justify-content space-between
	color #989898
	font-size 12px
	padding 0 2px
	margin-bottom 3px

.row
	background-color #e9e9e9
	height 10px
	border-radius 5px
	overflow hidden

.bar
	background-color #2575DC
	height 100%
	transition width .5s ease
